<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvptJJ_L9RnNM0xwMCETuotjiubrqX18I</string>
	<key>GCM_SENDER_ID</key>
	<string>1000828436618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.BillingFlow</string>
	<key>PROJECT_ID</key>
	<string>billingflow-c3f34</string>
	<key>STORAGE_BUCKET</key>
	<string>billingflow-c3f34.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000828436618:ios:7cb6a500374cefa9376d73</string>
</dict>
</plist>